<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <header>
        <%- include ("partials/header.ejs") %>
    </header>
    <main>
        <div class="container first product">
            <div class="padding product">  
                <h1><%= item.name.replaceAll('-',' ') %></h1>
            </div>
            <img src="https://www.cashfort.com.br/app/img/slideimg.jpeg" alt="">
        </div>
        <div class="container second">
            <div class="padding product">
                <div class="content">
                    <div class="info">
                        <div class="stock sec">In stock</div>
                        <div class="value sec">
                            <p>From</p>
                            <h1>$ <%= Math.ceil(item.price/5) - 0.01 %></h1>
                        </div>
                        <a class="buttons" href="<%= item.url %>" target="_blank">See more!</a>
                        <div class="sec compatibility">
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/marca.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Brand</p>
                                    <p><%= item.Marca %></p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/comp.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Compatibility</p>
                                    <p><%= item.Compatibilidade %></p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/moedas.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Supported currencies</p>
                                    <p><%= item["Moedas Suportadas"] %></p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/blockchain.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Supported blockchains</p>
                                    <p><%= item["Blockchains Suportadas"] %></p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/wifi.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Connectivity</p>
                                    <p><%= item.Conectividade %></p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/peso.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Weight</p>
                                    <p><%= item.Peso %></p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/altura.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Size</p>
                                    <p><%= item.Tamanho %></p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/bateria.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Battery</p>
                                    <p><%= item.Bateria %></p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/manu.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Handling</p>
                                    <p><%= item.Manuseio %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="<%= item.foto %>" alt="hero">
                </div>
        </div>
    </main>
    <footer>
        <%- include ("partials/footer.ejs") %>
    </footer>
</body>
</html>